<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension id="Server"
              name="Top Level Server Menu"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Server"/>
      <path value="/SlotG"/>
      <editorKitId value="OWLEditorKit"/>
   </extension>
   
      <extension id="Commit"
              name="Commit Menu"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Commit"/>
      <path value="org.protege.editor.owl.client.Server/SlotA-G"/>
      <editorKitId value="OWLEditorKit"/>
      <class value="org.protege.editor.owl.client.action.CommitAction"/>
   </extension>
   
      <extension id="Update"
              name="Update Menu"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Update"/>
      <path value="org.protege.editor.owl.client.Server/SlotA-I"/>
      <editorKitId value="OWLEditorKit"/>
      <class value="org.protege.editor.owl.client.action.UpdateAction"/>
   </extension>
   
      <extension id="ShowUncommitted"
              name="Show Uncommitted Changes"
              point="org.protege.editor.core.application.EditorKitMenuAction">
       <name value="Show uncommitted changes"/>
       <path value="org.protege.editor.owl.client.Server/SlotB-W"/>
       <editorKitId value="OWLEditorKit"/>
       <class value="org.protege.editor.owl.client.action.ShowUncommittedChangesAction"/>
   </extension>
   
   <extension id="ShowHistory"
              name="Show History"
              point="org.protege.editor.core.application.EditorKitMenuAction">
       <name value="Show change history"/>
       <path value="org.protege.editor.owl.client.Server/SlotB-V"/>
       <editorKitId value="OWLEditorKit"/>
       <class value="org.protege.editor.owl.client.action.ShowHistoryAction"/>
   </extension>
      
   <extension id="EnableAutoUpdate"
              name="Auto Update Menu"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Auto-update"/>
      <path value="org.protege.editor.owl.client.Server/SlotC-E"/>
      <editorKitId value="OWLEditorKit"/>
      <class value="org.protege.editor.owl.client.action.EnableAutoUpdateAction"/>
      <checkbox value="true"/>
   </extension>
   
      <extension id="Connect"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Connect to server"/>
      <class value="org.protege.editor.owl.client.action.ClientOntologyBuilder"/>
      <toolTip value="Connect to Server and open a project"/>
      <path value="org.protege.editor.owl.client.Server/SlotZ-A"/>
      <editorKitId value="OWLEditorKit"/>
   </extension>
   
   
   <extension
            id="ServerConnectionManager"
            name="Server Connection Manager"
            point="org.protege.editor.core.application.EditorKitHook">
         <class value="org.protege.editor.owl.client.connect.ServerConnectionManager"/>
         <editorKitId value="OWLEditorKit"/>
      </extension>
</plugin>
