<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!-- Tabs -->

	<extension id="RevisionLogDiffTab"
			   point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Revision Log diff"/>
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
		<index value="X"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig-diff.xml"/>
	</extension>

	<extension id="AdminTab"
			   point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Server Administration"/>
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
		<index value="Y"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig-admin.xml"/>
	</extension>

	<!-- Diff Views -->

	<extension id="ChangesView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Changes"/>
		<class value="org.protege.editor.owl.client.diff.ui.ChangesView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.differencecategory"/>
	</extension>

	<extension id="ChangeDetailsView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Details"/>
		<class value="org.protege.editor.owl.client.diff.ui.ChangeDetailsView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.differencecategory"/>
	</extension>

	<extension id="ConflictsGridView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Conflicts (grid)"/>
		<class value="org.protege.editor.owl.client.diff.ui.ConflictsGridView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.differencecategory"/>
	</extension>

	<extension id="ConflictsListView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Conflicts (list)"/>
		<class value="org.protege.editor.owl.client.diff.ui.ConflictsListView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.differencecategory"/>
	</extension>

	<extension id="AuthorView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Authors"/>
		<class value="org.protege.editor.owl.client.diff.ui.AuthorView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.differencecategory"/>
	</extension>

	<extension id="CommitView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Commits"/>
		<class value="org.protege.editor.owl.client.diff.ui.CommitView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.differencecategory"/>
	</extension>

	<!-- Admin Tab Views -->

	<extension id="UserView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Users"/>
		<class value="org.protege.editor.owl.client.admin.ui.UserView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<!--<category value="@org.protege.differencecategory"/>-->
	</extension>

	<extension id="RoleView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Roles"/>
		<class value="org.protege.editor.owl.client.admin.ui.RoleView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="Client-Server"/>
	</extension>

	<extension id="OperationView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Operations"/>
		<class value="org.protege.editor.owl.client.admin.ui.OperationView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<!--<category value="@org.protege.differencecategory"/>-->
	</extension>

	<extension id="ProjectView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Projects"/>
		<class value="org.protege.editor.owl.client.admin.ui.ProjectView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<!--<category value="@org.protege.differencecategory"/>-->
	</extension>

	<extension id="DetailsView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Details"/>
		<class value="org.protege.editor.owl.client.admin.ui.DetailsView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<!--<category value="@org.protege.differencecategory"/>-->
	</extension>

	<extension id="JsonSerializationView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="JSON Serialization"/>
		<class value="org.protege.editor.owl.client.admin.ui.JsonSerializationView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<!--<category value="@org.protege.differencecategory"/>-->
	</extension>

	<extension id="PolicyView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Access Control Policy"/>
		<class value="org.protege.editor.owl.client.admin.ui.PolicyView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<!--<category value="@org.protege.differencecategory"/>-->
	</extension>

	<extension id="ServerSettingsView"
			   point="org.protege.editor.core.application.ViewComponent">
		<label value="Server settings"/>
		<class value="org.protege.editor.owl.client.admin.ui.ServerSettingsView"/>
		<headerColor value="@org.protege.ontologycolor"/>
		<!--<category value="@org.protege.differencecategory"/>-->
	</extension>

	<!-- Menu items -->
	
    <!-- File menu -->

    <extension id="openfromProtegeOWLServer" 
    		   point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Open from Protege OWL Server..."/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-H"/>
        <editorKitId value="OWLEditorKit"/>
        <class value="org.protege.editor.owl.client.action.OpenFromServerAction"/>
        <toolTip value="Open an ontology from a Protege OWL Server"/>
    </extension>

	<!-- Server menu -->

	<extension id="Server"
        	   name="Top Level Server Menu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
    	<name value="Server"/>
      	<path value="/SlotG"/>
      	<editorKitId value="OWLEditorKit"/>
   	</extension>
   
	<extension id="Commit"
               name="Commit Menu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Commit"/>
      	<path value="org.protege.editor.owl.client.Server/SlotA-G"/>
      	<editorKitId value="OWLEditorKit"/>
      	<class value="org.protege.editor.owl.client.action.CommitAction"/>
	</extension>
   
	<extension id="Update"
               name="Update Menu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Update"/>
      	<path value="org.protege.editor.owl.client.Server/SlotA-I"/>
      	<editorKitId value="OWLEditorKit"/>
      	<class value="org.protege.editor.owl.client.action.UpdateAction"/>
	</extension>
   
	<extension id="ShowUncommitted"
               name="Show Uncommitted Changes"
               point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Show uncommitted changes"/>
       	<path value="org.protege.editor.owl.client.Server/SlotB-W"/>
       	<editorKitId value="OWLEditorKit"/>
       	<class value="org.protege.editor.owl.client.action.ShowUncommittedChangesAction"/>
	</extension>
   
	<extension id="ShowHistory"
               name="Show History"
               point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Show change history"/>
       	<path value="org.protege.editor.owl.client.Server/SlotB-V"/>
       	<editorKitId value="OWLEditorKit"/>
       	<class value="org.protege.editor.owl.client.action.ShowHistoryAction"/>
	</extension>
	
    <!--
   <extension id="ShowStatus"
               name="Show Client Status"
               point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Show client status"/>
       	<path value="org.protege.editor.owl.client.Server/SlotB-X"/>
       	<editorKitId value="OWLEditorKit"/>
       	<class value="org.protege.editor.owl.client.action.ShowStatusAction"/>
	</extension>
      -->
      
	<extension id="EnableAutoUpdate"
               name="Auto Update Menu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Auto-update"/>
      	<path value="org.protege.editor.owl.client.Server/SlotC-E"/>
      	<editorKitId value="OWLEditorKit"/>
      	<class value="org.protege.editor.owl.client.action.EnableAutoUpdateAction"/>
      	<checkbox value="true"/>
	</extension>

	<extension id="ClientSession"
			   name="Client Session"
			   point="org.protege.editor.core.application.EditorKitHook">
		<class value="org.protege.editor.owl.client.ClientSession"/>
		<editorKitId value="OWLEditorKit"/>
	</extension>

</plugin>
